[submodule "src/ublox"]
	path = src/ublox
	url = https://github.com/KumarRobotics/ublox.git
[submodule "arduino/libraries/FastPID"]
	path = arduino/libraries/FastPID
	url = git@github.com:mike-matera/FastPID.git
