<launch>

  <arg name="world"
       default="$(env PWD)/simulation/worlds/2018_competition_world_files/prelim2.world"/>
  <arg name="round" default="prelim"/>
  <arg name="numrovers" default="1"/>
  <arg name="startsim" default="false"/>
  <arg name="gazebo" default="false"/>
  <arg name="multimaster" default="true"/>

  <group ns="simulation">
    <param name="world" value="$(arg world)"/>
    <param name="round" value="$(arg round)"/>
    <param name="numrovers" type="int" value="$(arg numrovers)"/>
    <param name="startsim" value="$(arg startsim)"/>
    <param name="gazebo" value="$(arg gazebo)"/>
  </group>

  <node name="$(anon rqt_rover_gui)" pkg="rqt_gui" type="rqt_gui" args="-s rqt_rover_gui" required="True" output="screen">
    <env name="SWARMATHON_APP_ROOT" value="$(env PWD)" />
    <env name="GAZEBO_MODEL_PATH" value="$(env PWD)/simulation/models" />
    <env name="GAZEBO_PLUGIN_PATH" value="$(env PWD)/build/gazebo_plugins" />
  </node>

  <group unless="$(arg startsim)">
    <group if="$(arg multimaster)">
      <node name="$(anon master_discovery)" pkg="master_discovery_fkie" type="master_discovery" respawn="true" output="screen"/>
      <node name="$(anon master_sync)" pkg="master_sync_fkie" type="master_sync" respawn="true" output="screen">
        <rosparam param="ignore_topics">
          - /rosout
          - /rosout_agg
          - /tf
          - /tf_static
        </rosparam>
      </node>
    </group >
  </group>
</launch>
