<launch>

  <param name="tf_prefix" value="$(arg name)" />

  <node name="$(arg name)_BASE2CAM" pkg="tf" type="static_transform_publisher" args="0.12 -0.03 0.195 -1.57 0 -2.22 $(arg name)/base_link $(arg name)/camera_link 100" />
  <node name="$(arg name)_DIAGNOSTICS" pkg="diagnostics" type="diagnostics" args="$(arg name)" />
  <node name="$(arg name)_SBRIDGE" pkg="sbridge" type="sbridge" args="$(arg name)" />
  <node name="$(arg name)_MOBILITY" pkg="mobility" type="mobility" args="$(arg name)" />
  <node name="$(arg name)_OBSTACLE" pkg="obstacle_detection" type="obstacle" args="$(arg name)" />

  <node pkg="robot_localization" type="navsat_transform_node" name="$(arg name)_NAVSAT" respawn="false">

      <param name="magnetic_declination_radians" value="0.0"/>
      <param name="yaw_offset" value="1.57079632679"/>
      <param name="world_frame" value="map"/>
      <param name="frequency" value="2"/>

      <remap from="/imu/data" to="/$(arg name)/imu" />
      <remap from="/gps/fix" to="/$(arg name)/fix" />
      <remap from="/odometry/filtered" to="/$(arg name)/odom/ekf" />

      <remap from="/odometry/gps" to="/$(arg name)/odom/navsat" />

  </node>

  <node pkg="robot_localization" type="ekf_localization_node" name="$(arg name)_ODOM">

      <param name="odom0" value="/$(arg name)/odom" />
      <param name="imu0" value="/$(arg name)/imu" />
      <param name="two_d_mode" value="true" />
      <param name="world_frame" value="odom" />
      <param name="frequency" value="10" />

      <rosparam param="odom0_config">[false, false, false,
                                false, false, false, 
                                true, false, false,
                                false, false, true,
                                false, false, false]</rosparam>

      <rosparam param="imu0_config">[false, false, false, 
                               false, false, true, 
                               false, false, false, 
                               false, false, true, 
                               false, false, false]</rosparam>

      <remap from="/odometry/filtered" to="/$(arg name)/odom/filtered" />
    
  </node>

  <node pkg="robot_localization" type="ekf_localization_node" name="$(arg name)_MAP">

      <param name="odom0" value="/$(arg name)/odom/navsat" />
      <param name="odom1" value="/$(arg name)/odom" />
      <param name="imu0" value="/$(arg name)/imu" />

  <!--    <param name="odom1" value="/$(arg name)/odom/filtered" /> -->

      <param name="imu0" value="/$(arg name)/imu" />
      <param name="two_d_mode" value="true" />
      <param name="world_frame" value="map" />
      <param name="frequency" value="2" />

      <rosparam param="odom0_config">[true, true, false,
                                false, false, false,
                                false, false, false,
                                false, false, false,
                                false, false, false]</rosparam>

      <rosparam param="odom1_config">[false, false, false,
                                false, false, false, 
                                true, false, false,
                                false, false, true,
                                false, false, false]</rosparam>

      <rosparam param="imu0_config">[false, false, false,
                               false, false, true,
                               false, false, false,
                               false, false, true,
                               false, false, false]</rosparam>

<rosparam param="initial_estimate_covariance">[1e-9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                                               0, 1e-9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                                               0, 0, 1e-9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                                               0, 0, 0, 1e-9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                                               0, 0, 0, 0, 1e-9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                                               0, 0, 0, 0, 0, 1e-9, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                                               0, 0, 0, 0, 0, 0, 1e-9, 0, 0, 0, 0, 0, 0, 0, 0,
                                               0, 0, 0, 0, 0, 0, 0, 1e-9, 0, 0, 0, 0, 0, 0, 0,
                                               0, 0, 0, 0, 0, 0, 0, 0, 1e-9, 0, 0, 0, 0, 0, 0,
                                               0, 0, 0, 0, 0, 0, 0, 0, 0, 1e-9, 0, 0, 0, 0, 0,
                                               0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1e-9, 0, 0, 0, 0,
                                               0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1e-9, 0, 0, 0,
                                               0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1e-9, 0, 0,
                                               0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1e-9, 0,
                                               0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1e-9]</rosparam>



        <rosparam param="process_noise_covariance">[0.005, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                                                    0, 0.8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                                                    0, 0, 0.1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                                                    0, 0, 0, 0.1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                                                    0, 0, 0, 0, 0.1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                                                    0, 0, 0, 0, 0, 0.005, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                                                    0, 0, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 0, 0, 0, 0,
                                                    0, 0, 0, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 0, 0, 0,
                                                    0, 0, 0, 0, 0, 0, 0, 0, 1.0, 0, 0, 0, 0, 0, 0,
                                                    0, 0, 0, 0, 0, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 0,
                                                    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.1, 0, 0, 0, 0,
                                                    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.1, 0, 0, 0,
                                                    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.1, 0, 0,
                                                    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.1, 0,
                                                    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.1]</rosparam>

      <remap from="/odometry/filtered" to="/$(arg name)/odom/ekf" />

  </node>

  <node pkg="apriltags_ros" type="apriltag_detector_node" name="$(arg name)_APRILTAG">

      <remap from="/image_rect/theora" to="/$(arg name)/camera/image/theora" />
      <remap from="/camera_info" to="/$(arg name)/camera/info" />
      <remap from="/tag_detections" to="/$(arg name)/targets" />
      <remap from="/tag_detections_image" to="/$(arg name)/targets/image" />

      <param name="image_transport" type="str" value="theora" />
      <param name="tag_family" type="str" value="36h11" />
      <param name="sensor_frame_id" type="str" value="$(arg name)/camera_link" />

      <rosparam param="tag_descriptions">[{id: 0, size: 0.038},
                                {id: 256, size: 0.038}]</rosparam>

  </node>

</launch>
