<launch>

  <!-- Default parameters to maintain compatibility with stock GUI -->
  <arg name="simulation" default="True" />
  <arg name="swarmie_dev" default="None" />
  <arg name="ublox_dev" default="None" />

  <param name="tf_prefix" value="$(arg name)" />
  <node name="$(arg name)_BASE2CAM"
        pkg="tf"
        type="static_transform_publisher"
        args="0.12 -0.02 0.195 -1.570796 0 -2.09 $(arg name)/base_link $(arg name)/camera_link 100"
        respawn="true"/>
  <!--
  <node name="$(arg name)_BASE2SONARLEFT"
        pkg="tf"
        type="static_transform_publisher"
        args="0.11 0.05 0.155 0.43633 0 0 $(arg name)/base_link $(arg name)/sonar_left 100"
        respawn="true" />
  <node name="$(arg name)_BASE2SONARCENTER"
        pkg="tf"
        type="static_transform_publisher"
        args="0.12 0 0.155 0 0 0 $(arg name)/base_link $(arg name)/sonar_center 100"
        respawn="true" />
  <node name="$(arg name)_BASE2SONARRIGHT"
        pkg="tf"
        type="static_transform_publisher"
        args="0.11 -0.05 0.155 -0.43633 0 0 $(arg name)/base_link $(arg name)/sonar_right 100"
        respawn="true" /> 
        -->
  <node name="$(arg name)_DIAGNOSTICS" pkg="diagnostics" type="diagnostics" args="$(arg name)" respawn="true"/>
  <node name="$(arg name)_MOBILITY" pkg="mobility" type="core.py" args="$(arg name)" respawn="true">
    <param name="april_tag_resource" value="$(find mobility)/resources/atag-0.jpg"/>
    <param name="april_tag_resource_pickel" value="$(find mobility)/resources/atag-0.p"/>
    <param name="DRIVE_SPEED" value="0.2"/>
    <param name="REVERSE_SPEED" value="0.2"/>
    <param name="TURN_SPEED" value="0.6"/>
    <param name="HEADING_RESTORE_FACTOR" value="1.0"/>
    <param name="GOAL_DISTANCE_OK" value="0.1"/>
    <param name="ROTATE_THRESHOLD" value="0.19"/>
    <param name="DRIVE_ANGLE_ABORT" value="1.5"/>
  </node>

  <node name="$(arg name)_MAPPING" pkg="mapping" type="mapping" args="$(arg name)" respawn="true"/>
  <node pkg="robot_localization" type="navsat_transform_node" name="$(arg name)_NAVSAT" respawn="true">
    <!--Simulation and physical need different settings here-->
    <param if="$(arg simulation)" name="magnetic_declination_radians" value="0"/>
    <param if="$(arg simulation)" name="yaw_offset" value="1.57079632679"/>
    <param unless="$(arg simulation)" name="magnetic_declination_radians" value="0"/>
    <param unless="$(arg simulation)" name="yaw_offset" value="0"/>
    <param name="world_frame" value="map"/>
    <param name="frequency" value="10"/>

    <remap from="/imu/data" to="/$(arg name)/imu" />
    <remap from="/gps/fix" to="/$(arg name)/fix" />
    <remap from="/odometry/filtered" to="/$(arg name)/odom/ekf" />

    <remap from="/odometry/gps" to="/$(arg name)/odom/navsat" />

  </node>

  <node pkg="robot_localization" type="ekf_localization_node" name="$(arg name)_ODOM" respawn="true">

    <param name="odom0" value="/$(arg name)/odom" />
    <param name="imu0" value="/$(arg name)/imu" />
    <param name="two_d_mode" value="true" />
    <param name="world_frame" value="odom" />
    <param name="frequency" value="10" />
    <!--<param name="print_diagnostics" value="true" />-->

    <rosparam param="odom0_config">[false, false, false,
                                    false, false, false,
                                    true, true, false,
                                    false, false, true,
                                    false, false, false]</rosparam>

    <rosparam param="imu0_config">[false, false, false, 
                                   false, false, true,
                                   false, false, false,
                                   false, false, true,
                                   false, false, false]</rosparam>

    <rosparam param="initial_estimate_covariance">
      [1e-9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1e-9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1e-9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1e-9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1e-9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1e-9, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1e-9, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1e-9, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1e-9, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1e-9, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1e-9, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 100, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1e-9, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1e-9, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1e-9]
    </rosparam>

    <rosparam param="process_noise_covariance">
      [7e-4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 7e-4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0.06, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0.03, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0.03, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1e-5, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0.025, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0.025, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0.04, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0.01, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.01, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.01, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.01, 0,
       0, 0, 0, 0, 0, 0, 0,  0,  0, 0, 0, 0, 0, 0, 0.015]
    </rosparam>

    <remap from="/odometry/filtered" to="/$(arg name)/odom/filtered" />
    
  </node>

  <node pkg="robot_localization" type="ekf_localization_node" name="$(arg name)_MAP" respawn="true">

    <param name="odom0" value="/$(arg name)/odom/navsat" />
    <param name="odom1" value="/$(arg name)/odom" />
    <param name="imu0" value="/$(arg name)/imu" />
    <param name="two_d_mode" value="true" />
    <param name="world_frame" value="map" />
    <param name="frequency" value="10" />

    <rosparam param="odom0_config">[true, true, false,
                                    false, false, false,
                                    false, false, false,
                                    false, false, false,
                                    false, false, false]</rosparam>

    <rosparam param="imu0_config">[false, false, false,
                                   false, false, true,
                                   false, false, false,
                                   false, false, true,
                                   false, false, false]</rosparam>

    <rosparam param="odom1_config">[false, false, false,
                                    false, false, false,
                                    true, true, false,
                                    false, false, true,
                                    false, false, false]</rosparam>

    <rosparam param="initial_estimate_covariance">[
    1e-9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
    0, 1e-9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
    0, 0, 1e-9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
    0, 0, 0, 1e-9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
    0, 0, 0, 0, 1e-9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
    0, 0, 0, 0, 0, 1e-9, 0, 0, 0, 0, 0, 0, 0, 0, 0,
    0, 0, 0, 0, 0, 0, 1e-9, 0, 0, 0, 0, 0, 0, 0, 0,
    0, 0, 0, 0, 0, 0, 0, 1e-9, 0, 0, 0, 0, 0, 0, 0,
    0, 0, 0, 0, 0, 0, 0, 0, 1e-9, 0, 0, 0, 0, 0, 0,
    0, 0, 0, 0, 0, 0, 0, 0, 0, 1e-9, 0, 0, 0, 0, 0,
    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1e-9, 0, 0, 0, 0,
    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 100, 0, 0, 0,
    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1e-9, 0, 0,
    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1e-9, 0,
    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1e-9]</rosparam>

    <rosparam param="process_noise_covariance">[
    7e-4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
    0, 7e-4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
    0, 0, 0.06, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
    0, 0, 0, 0.03, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
    0, 0, 0, 0, 0.03, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
    0, 0, 0, 0, 0, 1e-5, 0, 0, 0, 0, 0, 0, 0, 0, 0,
    0, 0, 0, 0, 0, 0, 0.025, 0, 0, 0, 0, 0, 0, 0, 0,
    0, 0, 0, 0, 0, 0, 0, 0.025, 0, 0, 0, 0, 0, 0, 0,
    0, 0, 0, 0, 0, 0, 0, 0, 0.04, 0, 0, 0, 0, 0, 0,
    0, 0, 0, 0, 0, 0, 0, 0, 0, 0.01, 0, 0, 0, 0, 0,
    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.01, 0, 0, 0, 0,
    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.1, 0, 0, 0,
    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.01, 0, 0,
    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.01, 0,
    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.015]</rosparam>

    <remap from="/odometry/filtered" to="/$(arg name)/odom/ekf" />

  </node>

  <node pkg="apriltags_ros" type="apriltag_detector_node" name="$(arg name)_APRILTAG" respawn="true">

    <remap from="/image_rect/theora" to="/$(arg name)/camera/image/theora" if="$(arg simulation)"/>
    <param name="image_transport" type="str" value="theora" if="$(arg simulation)"/>

    <remap from="/image_rect" to="/$(arg name)/camera/image" unless="$(arg simulation)"/>
    <param name="image_transport" type="str" value="raw" unless="$(arg simulation)"/>

    <remap from="/camera_info" to="/$(arg name)/camera/info" />
    <remap from="/tag_detections" to="/$(arg name)/targets" />
    <remap from="/tag_detections_image" to="/$(arg name)/targets/image" />

    <param name="tag_family" type="str" value="36h11" />
    <param name="sensor_frame_id" type="str" value="$(arg name)/camera_link" />

    <rosparam param="tag_descriptions">[
    {id: 0, size: 0.038},
    {id: 256, size: 0.038}]</rosparam>
  </node>
  
  
  <group if="$(arg simulation)">
    <node name="$(arg name)_SBRIDGE" pkg="bridge" type="sbridge" args="$(arg name)" respawn="true">
    </node>
  </group>
  
  <group unless="$(arg simulation)">

    <node name="$(arg name)_ABRIDGE" pkg="bridge" type="abridge" args="$(arg name)" respawn="true"> 
      <param name="device" value="$(arg swarmie_dev)"/>
      <param name="scale" value="0.001" />
      <param name="Kp" value="0.1" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.0" />
      <param name="db" value="0.0" />
      <param name="st" value="0.0" />
      <param name="wu" value="65535" />
      <param name="ff" value="0.009" />
    </node>

    <node name="$(arg name)_IMU" pkg="mobility" type="cal_imu.py"
          args="$(arg name)" respawn="true" >
      <param name="load_raw_data" value="true" />
      <param name="raw_data_path" value="/home/swarmie/KSC_extended_calibration.csv"/>
      <param name="publish_debug_topic" value="false" />
    </node>
    
    <node name="$(arg name)_UBLOX" pkg="ublox_gps" type="ublox_gps" respawn="true">
      <remap from="/$(arg name)_UBLOX/fix" to="/$(arg name)/fix" />
      <remap from="/$(arg name)_UBLOX/fix_velocity" to="/$(arg name)/fix_velocity" />
      <remap from="/$(arg name)_UBLOX/navposllh" to="/$(arg name)/navposllh" />

      <remap from="/$(arg name)_UBLOX/navsol" to="/$(arg name)/navsol" />
      <remap from="/$(arg name)_UBLOX/navstatus" to="/$(arg name)/navstatus" />
      <remap from="/$(arg name)_UBLOX/navvelned" to="/$(arg name)/navvelned" />

      <param name="device" value="$(arg ublox_dev)"/>
      <param name="frame_id" value="$(arg name)/base_link"/>
    </node>

    <!--
    <node name="$(arg name)_CAMERA" pkg="video_stream_opencv" type="video_stream" respawn="true">
      <param name="video_stream_provider" value="/dev/video0"/>
      <param name="camera_info_file" value="file://$(env HOME)/rover_workspace/camera_info/head_camera.yaml"/>
      <param name="width" value="320"/>
      <param name="height" value="240"/>
      <param name="fps" type="int" value="10" />

      <remap from="/camera" to="/$(arg name)/camera/image"/>
      </node>
    -->
    <node name="$(arg name)_CAMERA" pkg="usb_cam" type="usb_cam_node" respawn="true">
      <param name="video_device" value="/dev/video0"/>
      <param name="camera_info_url" value="file://$(find mobility)/camera_info/head_camera.yaml"/>
      <param name="camera_name" value="head_camera"/>
      <param name="image_width" value="320"/>
      <param name="image_height" value="240"/>
      <param name="framerate" value="10"/>
      <param name="camera_frame_id" value="$(arg name)/camera_link"/>
      <remap from="/$(arg name)_CAMERA/image_raw" to="/$(arg name)/camera/image"/>
    </node>
  </group>
  
</launch>
